//colors
$black: #000;
$dark_blue: rgba(10, 20, 210, 0.6);
$white: #fff;
$light_black: #272822;
$light_blue : #6150C1;
//fonts
$font: sans-serif;

//urls
$my-image: url(../img/my-photo.jpg);

* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	&:before {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
	&:after {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
}


body {
	font-family: $font;
	width: 100%;
}



/* Header
---------------------------------------- */
header {
	width: 100%;
	height: 100px;
	background: $black;
	overflow: hidden;
	.navigation{
		width: 250px;
		margin:20px auto;
	}
	.primary-ul{
		display:flex;
		li{
			margin-right: 30px;
			a{
				font-size: 18px;
				text-transform: uppercase;
				text-decoration: none;
				display: inline-block;
				padding:20px;
				color:$white;

				&.active{
					background: #6150C1;
					padding: 20px 30px;
					border-radius: 10px;
					&:hover{
						color:#fff;
					}
				}
				&:hover{
					color: #6150C1;
				}
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
}



#my-image {
	width: 100%;
	background: $my-image no-repeat;
	background-position: 0 10%;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}
#overlay-color {
	background: $dark_blue;
	background-size: cover;
	height: 700px;
	background-attachment: fixed;
}


#introduction {
	display: inline-block;
	margin-top: 15%;
	margin-left: 40%;

	@media screen and(max-width: 800px) {
		margin-left: 0;
		display: flex;
		flex-direction: column;
		margin-top: 0;
		position: absolute;
		left:50%;
		top:50%;
		transform: translate(-50%, -50%);
	}
	span{
		max-width: 300px;
		margin: auto;
		text-align: center;
		display: block;
		position: relative;
		font-size: 30px;
		color:#fff;
		font-style: italic;
		// @media screen and(max-width: 800px) {
		// 	width: 100%;
		// }
		&:before{
			height: 2px;
			position: absolute;
			top:15px;
			left:0;
			width: 20%;
			background: #fff;
			display: block;
			content:"";
			@media screen and(max-width: 800px) {
				left: -40px;
			}
		}
		&:after{
			height: 2px;
			position: absolute;
			top:15px;
			right:0;
			width: 20%;
			background: #fff;
			display: block;
			content:"";
			@media screen and(max-width: 800px) {
				right: -45px;
			}
		}
	}
	p {
		max-width: 800px;
		font-size: 100px;
		text-align: center;
		color: $white;
		letter-spacing: 5px;
		line-height: 120px;
		// @media screen and(max-width:935px) {
		// 	font-size: 80px;
		// }
		// @media screen and(max-width:775px) {
		// 	font-size: 70px;
		// }
		// @media screen and(max-width:681px) {
		// 	font-size: 50px;
		// }
		// @media screen and(max-width: 800px) {
		// 	font-size: 60px;
		// }
	}
}


.container{
	padding: 40px 0;
	@media screen and (max-width:1170px) {
		padding: 20px 0;
	}
}

.container-about{
	width: 1200px;
	margin: auto;
	@media screen and (max-width:1170px) {
		width: 100%;
		margin: auto;
		padding:20px;
	}
		.line{
			margin-top: 100px;
			height: 2px;

			// background: -webkit-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727);
			// background: -o-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727);
			// background: linear-gradient(to right, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727);
		  	background: -webkit-radial-gradient(circle, #2F2727, #D4D4D4);
			width: 800px;
			margin-left: auto;
			@media screen and(max-width:1170px) {
				width: 60%;
			}
			@media screen and(max-width: 800px) {
				width: 100%;
			}
		}
	.content{
		display: flex;
		align-items: flex-start;
		position: relative;
		@media screen and(max-width:600px) {
			display: block;
		}
		h2{
			font-size: 30px;
			color: #E44C65;
			width: 400px;
			line-height: 40px;
			@media screen and(max-width:1170px) {
				width: 40%;
			}
			@media screen and(max-width:600px) {
				width: 100%;
				text-align: center;
			}
		}
		.bdr-bottom{
			position: absolute;
			background: red;
			opacity:0.5;
			height: 2px;
			width: 7%;
			top:50px;
		}
		p{
			// background:green;
			// float: left;
			width: 800px;
			font-size: 25px;
			line-height: 40px;
			@media screen and(max-width:1170px) {
				width: 60%;
			}
			@media screen and(max-width:600px) {
				width: 100%;
				text-align: center;
				margin-top: 10%;
			}
		}
	}
}

.container-skills{
	width: 1200px;
	margin: auto;
	@media screen and (max-width:1170px) {
		width: 100%;
		margin: auto;
		padding:20px;
	}
	// padding: 30px 0;
	.content{
		display: flex;
		align-items: flex-start;
		position: relative;
		@media screen and(max-width:600px) {
			display: block;
		}
		h2{
			font-size: 30px;
			color: #E44C65;
			width: 400px;
			line-height: 40px;
			@media screen and(max-width:770px) {
				width: 30%;
			}
			@media screen and(max-width:1170px) {
				width: 40%;
			}

			@media screen and(max-width:600px) {
				width: 100%;
				text-align: center;
				margin-bottom: 10%;
			}
		}
		.my-skills{
			display: inline-block;
			width: 800px;
			font-size: 25px;
			@media screen and(max-width:1170px) {
				width: 60%;
			}

			@media screen and(max-width:600px) {
				width: 100%;
				text-align: center;
			}
			li{
				width: 244px;
				float: left;
				margin:10px;
				padding: 10px 20px;
				// background: lightblue;
				background-color:#6150C1;
				color: #fff;
				border-radius: 10px;
				text-align: center;
				@media screen and(max-width:1170px) {
					width: 29%;
				}
				@media screen and(max-width:808px) {
					width: 200px;
				}
				@media screen and(max-width:773px) {
					width: 180px;
				}
				@media screen and(max-width:706px) {
					width: 140px;
				}
				@media screen and(max-width:600px) {
					width: 160px;
					text-align: center;
				}
				&:hover{
					background: lighten($light_blue, 10%);
					transition: all 0.4s;
					-webkit-box-shadow:0 5px 5px #ccc;
				}
			}
		}
	}
}

.clearfix{
	display: table;
	clear: both;
}

.container-contact {
	background: #E44C65;
	padding: 120px 0;
}
footer.container{
	padding-bottom: 0;
}
footer{
	.content{

		h2{
			text-align: center;
			color:#fff;
			font-size: 50px;
			padding-bottom: 20px;
			@media screen and(max-width: 800px) {
				font-size: 35px;
				text-align: center;
			}
		}
	}
	.social{
		text-align: center;
		.fa {
			font-size: 50px;
			margin: 30px;
			display: inline-block;
			color: $white;
		}
		a {
			text-decoration: none;
		}
	}

}
