.Bdbs\(d\) {
  border-bottom-style: dotted;
}
.Bdbw\(1px\) {
  border-bottom-width: 1px;
}
.Bdrs\(50\%\) {
  border-radius: 50%;
}
.Bdrs\(3px\)\:\:a::after {
  border-radius: 3px;
}
.Bgc\(\$body-bg-color\) {
  background-color: #2e3445;
}
.Bgc\(\#f9f9fe\) {
  background-color: #f9f9fe;
}
.Bgc\(\#30b9cb\)\:\:a::after {
  background-color: #30b9cb;
}
.Bxz\(bb\) {
  box-sizing: border-box;
}
.Bxsh\(\$shadow\) {
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .1);
}
.C\(\#000\) {
  color: #000;
}
.C\(\#fff\) {
  color: #fff;
}
.C\(\#b8c8c1\) {
  color: #b8c8c1;
}
.C\(\$color-aqua\) {
  color: #dbe8d4;
}
.C\(\$color-blue\) {
  color: #3bce;
}
.C\(\#30b9cb\)\:h:hover {
  color: #30b9cb;
}
.C\(\#fff\)\:h:hover {
  color: #fff;
}
.Cnt\(noq\)\:\:a::after {
  content: no-open-quote;
}
.D\(b\) {
  display: block;
}
.D\(ib\) {
  display: inline-block;
}
.D\(f\) {
  display: flex;
}
.D\(b\)\:\:a::after {
  display: block;
}
.Fld\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Ff\(ss\) {
  font-family: Helvetica, Arial, sans-serif;
}
.Fz\(1\.6rem\) {
  font-size: 1.6rem;
}
.Fz\(16px\) {
  font-size: 16px;
}
.Fz\(2\.2rem\) {
  font-size: 2.2rem;
}
.Fz\(2rem\) {
  font-size: 2rem;
}
.Fz\(1\.3rem\) {
  font-size: 1.3rem;
}
.Fz\(62\.5\%\) {
  font-size: 62.5%;
}
.H\(200px\) {
  height: 200px;
}
.H\(8px\)\:\:a::after {
  height: 8px;
}
.listItem:hover .listItem\:h_H\(100\%\)\:\:a::after {
  height: 100%;
}
.Lts\(1px\) {
  letter-spacing: 1px;
}
.List\(n\) {
  list-style-type: none;
}
.Lh\(1\) {
  line-height: 1;
}
.Lh\(1\.5\) {
  line-height: 1.5;
}
.Lh\(2\) {
  line-height: 2;
}
.M\(0\) {
  margin: 0;
}
.M\(a\) {
  margin: auto;
}
.Mt\(30px\) {
  margin-top: 30px;
}
.Mend\(10px\) {
  margin-right: 10px;
}
.Mb\(30px\) {
  margin-bottom: 30px;
}
.Mb\(20px\) {
  margin-bottom: 20px;
}
.T\(0\) {
  top: 0;
}
.B\(0\)\:\:a::after {
  bottom: 0;
}
.Start\(0\) {
  left: 0;
}
.Start\(0\)\:\:a::after {
  left: 0;
}
.P\(0\) {
  padding: 0;
}
.Px\(20px\) {
  padding-left: 20px;
  padding-right: 20px;
}
.Px\(10px\) {
  padding-left: 10px;
  padding-right: 10px;
}
.Px\(50px\) {
  padding-left: 50px;
  padding-right: 50px;
}
.Py\(20px\), .Pt\(20px\) {
  padding-top: 20px;
}
.Py\(20px\) {
  padding-bottom: 20px;
}
.Py\(5px\) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.Py\(10px\) {
  padding-top: 10px;
  padding-bottom: 10px;
}
.Pos\(r\) {
  position: relative;
}
.Pos\(a\)\:\:a::after {
  position: absolute;
}
.Td\(n\) {
  text-decoration: none;
}
.Tt\(u\) {
  text-transform: uppercase;
}
.Trs\(allTransition\)\:\:a::after {
  transition: all 0.3s;
}
.W\(200px\) {
  width: 200px;
}
.W\(100\%\)\:\:a::after {
  width: 100%;
}
.Z\(1\) {
  z-index: 1;
}
.Z\(-1\)\:\:a::after {
  z-index: -1;
}
@media(min-width:500px) {
  .Pt\(100px\)--sm {
    padding-top: 100px;
  }
}
@media(min-width:1000px) {
  .D\(b\)--md {
    display: block;
  }
  .Fld\(c\)--md {
    flex-direction: column;
  }
  .Jc\(fs\)--md {
    justify-content: flex-start;
  }
  .H\(100\%\)--md {
    height: 100%;
  }
  .Mb\(100px\)--md {
    margin-bottom: 100px;
  }
  .Mb\(50px\)--md {
    margin-bottom: 50px;
  }
  .Mstart\(170px\)--md {
    margin-left: 170px;
  }
  .Px\(20px\)--md {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Py\(100px\)--md, .Pt\(100px\)--md {
    padding-top: 100px;
  }
  .Py\(100px\)--md {
    padding-bottom: 100px;
  }
  .Pos\(f\)--md {
    position: fixed;
  }
  .W\(8\/12\)--md {
    width: 66.6667%;
  }
  .W\(170px\)--md {
    width: 170px;
  }
}
